<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- <html xmlns="http://www.w3.org/1999/xhtml" 
  xmlns:th="http://www.thymeleaf.org" 
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
  layout:decorate="~{base}"> -->

<head lang="en">

<script>
	(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id))
			return;
		js = d.createElement(s);
		js.id = id;
		js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.0&appId=1008414989306961&autoLogAppEvents=1';
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
</script>

<title>Get Well Gamers</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width" />
<base href="/" />

<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/gwg_main.css" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/js/bootstrap.min.js"></script>

<link rel="stylesheet"
	href="/webjars/font-awesome/css/font-awesome.min.css"></link>
</head>

<body>

<div th:replace="header :: header"/></div>


<div id="fb-root"></div>
	<header>
		<div id="header" class="col-md-12">
			<div class="col-lg-12">
				<img alt="gwglogo" src="images/logo.svg" width="50px" height="50px"
					style="padding: 2px;"> <span class="pull-right"><a href="/admin.html">admin</a></span>
			</div>
		</div>
	</header>

	<div id="social" class="col-lg-12">
		<span class="fb-share-button"
			data-href="http://www.getwellgamers.org.uk/" data-layout="button"
			data-size="large" data-mobile-iframe="true"><a target="_blank"
			href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.getwellgamers.org.uk%2F&amp;src=sdkpreparse"
			class="fb-xfbml-parse-ignore">Share</a></span> <span><a
			href="https://twitter.com/gwguk?ref_src=twsrc%5Etfw"
			class="twitter-follow-button" data-show-count="false">Follow
				@gwguk</a> <script async src="https://platform.twitter.com/widgets.js"
				charset="utf-8"></script></span>
	</div>
	<!-- <p><a class="twitter-timeline" data-theme="light" href="https://twitter.com/gwguk?ref_src=twsrc%5Etfw">Tweets by gwguk</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
	-->
	
	 <div th:replace="footer :: footer"></div>
	 <div th:replace="base :: base"></div>
	 <div th:insert="base :: base"></div>
	
	<div th:replace="fragments/footer :: footer"></div>
   

</body>
</html>